@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import 'reset.css';
@import 'common.css';

/* Header =============================== */

.main-nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.main-nav .nav-link {
  display: block;
  padding: 10px 25px;
}

.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
}

.membership-main .btn {
  background-color: dodgerblue;
}
.membership-main .btn.btn-add::before {
  content: '+  ';
}

.membership-main {
  background-color: rgb(219, 219, 219);
  padding: 5% 0;
}
.membership-main .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.membership-main .title-block {
  grid-column: 1 / span 2;
}
.membership-main .btn-add {
  align-self: center;
}

.cards-container {
  grid-column: 1 / span 3;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}

/* CARD ========== */
.card {
  border-radius: 5px;
  flex: 1 1 30%;
  background-color: #fff;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card.members p {
  min-height: 3em;
}

.card .hr {
  align-self: stretch;
  height: 1px;
  background-color: #333;
  margin: 20px 0;
}
.card .btn-delete {
  background-color: tomato;
  align-self: flex-end;
  padding: 9px 12px;
  margin-right: 25px;
  /* border: none; */
}

/************************** ADD MEMBERSHIP *****************************/

.add-membership-container {
  line-height: 1.4;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px 280px 20px 20px;
  background-color: white;
  text-align: center;
  /* SHADOW */
  box-shadow: 5px 10px 18px #dad5d5;
}

.membership-content {
  text-align: center;
}

input {
  width: 60%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgb(224, 219, 219);
  border-radius: 0.2rem;
}

.service-inputs {
  text-align: right;
}

textarea {
  width: 60%;
  border: 1px solid rgb(224, 219, 219);
  border-radius: 0.2rem;
}

.cancel-btn {
  border: none;
  background-color: white;
  font-weight: 500;
  cursor: pointer;
}

.add-buttons-membership {
  margin-top: 30px;
  text-align: center;
  margin-left: 200px;
}
